/* 产品页面的样式 */
/* 全局样式 */
.left{float: left;}
.buttonBuy .title_white{width: 100%;height: 18px;position: relative;font-size: 14px;line-height: 18px;color: white;text-align: center;}
.right{float: right;}
.buttonBuy{margin: 0 auto;}
.buttonBuy .title{width: 100%;height: 18px;position: relative;font-size: 14px;line-height: 18px;color: #008cdc;text-align: center;}
.buttonBuy .line{margin: 0 auto;width: 10px;margin-top: 5px;border-width:0 0 1px;border-style: solid;border-color:#008cdc;}

#center{width: 1200px;margin: 0 auto}
.products_banner{background:url(../images/2018061109300284195_original.jpg) no-repeat top center;height: 776px;-webkit-background-size: auto 776px;
background-size: auto 776px;}
.banner{height: 776px;width: 1200px;margin: 0 auto;overflow: hidden;}
.banner img{height: 130px;margin-top: 106px;margin: 106px auto 52px}
.banner .link{margin: 0 auto;width: 222px}
.banner .link a{font-size: 14px;float: left;color: #fff;margin-right: 20px;}
.banner .link .del_right{margin-right: 0;}
.line{width: 10px;height: 1px;background: #fff;margin: 7px auto}
#products_cont{background: #f7f7f7}
#phone_sort{height: 219px;background: #fff;}
#phone_sort .prev,#phone_sort .next{width: 150px;height: 219px;}
#phone_sort .prev{background: url(../images/left_656c890.png) no-repeat center;background-size: 50px;float: left;}
#phone_sort .next{background: url(../images/right_b6a20b6.png) no-repeat center;background-size: 50px;float: right;}
#phone_sort .swiper-container{width: 900px; height:219px;float: left;}
#phone_sort .swiper-container ul .swiper-slide{width: 120px;height: 178px;padding: 41px 16px 0;text-align: center;display: inline-block;vertical-align: top;}
#phone_sort .swiper-container ul .swiper-slide img{width: 105px;height: 105px}
#phone_sort .swiper-container ul .swiper-slide p{padding: 18px 0 41px;color: #1a1a1a;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.product_single_box{height: 600px;width: 1200px;margin-top: 40px}
.product_single{position:relative;background: url(../images/20180611094235569879_original.jpg) no-repeat;background-size:auto 100%;background-position-x: 50%;height: 100%;width: 100%;}
.product_single .single_text_right{position: absolute;height: auto;width: 400px;right: 80px;top:200px;color: #fff;}
.product_single .single_text_right>:nth-last-child(5){width: 100%;height: 24px;font-size: 20px;line-height: 25px;text-align: center;}
.product_single .single_text_right>:nth-last-child(4){width: 100%;height: auto;font-size: 35px;line-height: 45px;text-align: center;}
.product_single .single_text_right>:nth-last-child(3){width: 100%;height: auto;font-size: 28px;line-height: 35px;text-align: center;}
.product_single .single_text_right>:nth-last-child(2){color:#0286d9;font-size:14px;width: 76px;height: 25px;margin-left:-82px;position:absolute;left: 50%;top: 135px}
.product_single .single_text_right>:nth-last-child(1){color:#0286d9;font-size:14px;width: 61px;height: 25px;margin-left:24px;position:absolute;left: 50%;top: 135px}
.product_single .single_text_right .line{background:#0286d9}
.moreAccessories{text-align: center;font-size: 0;margin-top: 100px;}
.moreAccessories img{height:70px;margin: 0 auto}
.moreAccessories .buttonlink{height: 28px;width: 100%;}
.moreAccessories .buttonlink{margin-top: 44px}
.moreAccessories .buttonlink .buttonBuy{width: 60px}
.product_parts{width: 100%;overflow: hidden;}
.product_parts .accessories_line1{width: 580px;height: 600px;margin-top: 40px;background: #ccc;position: relative;}
.product_parts .accessories_line1{background: url(../images/20180724174645450868_original.jpg) no-repeat;background-size: auto 100%;position: relative; }
.product_parts .accessories_line1>div{position: absolute;color: #000;text-align: center;}
.product_parts .accessories_line1>div:nth-child(1){width: 100%;height: 24px;margin-top: 60px;top: 0;left: 0;font-size: 23px;line-height: 24px;}
.product_parts .accessories_line1>div:nth-child(2){width: 100%;height: 35px;margin-top: 98px;top: 0;left: 0;font-size: 35px;line-height: 35px;}
.product_parts .accessories_line1 #buybtn{position: absolute;display:block;width: 62px;height: 25px;top: 163px;left: 50%;margin-left: -31px;}
.product_parts .accessories_line1 img{width: 100%;height: 100%}

.vivo-foot-path{height: 70px;width: 100%;padding-top: 30px;}
.vivo-foot-path .foot-path-box{width: 100%;height: 100%;max-width: 1200px;margin: auto;border-top: 1px solid #dedede;}
.vivo-foot-path .foot-path-box ol li{float: left;height: 70px;line-height: 70px;}
.vivo-foot-path .foot-path-box ol>li:nth-child(1){font-size: 60px;}
.vivo-foot-path .foot-path-box ol>li:nth-child(2){font-size: 14px;margin: 0 8px 0 10px}
.vivo-foot-path .foot-path-box ol>li:nth-child(3){font-size: 12px;}

#footer{background: #f7f7f7;padding-top: 1px;}