.myShopCart{
	width: 1200px;
    margin: 0 auto;
    .main_title{
		height: 66px;
	    background: #fff;
	    overflow: hidden;
	    width: 100%;
	    color: #666;
	    table-layout: fixed;
	    vertical-align: middle;
	    white-space: nowrap;
	    margin-bottom: 19px;
	    .main_title_txt{
	    	text-align: center;
		    height: 66px;
		    line-height: 66px;
		    color: #333;
		    font-size: 20px;
		    font-weight: 400;
	    }
	    .continue_shopping{
	    	font-size: 14px;
	    	float: right;
		    margin: 0 35px 0 0;
		    color: #333;
		    b{
		    	font-weight: 700;
			    color: #333;
			    font-size: 12px;
			    margin-left: 4px;
			    margin-bottom: 3px;
		    }
	    }
    }
    .cart_head{
    	background: #fff;
    	padding: 0 26px;
    	.order_table{
    		width: 100%;
		    color: #666;
		    table-layout: fixed;
		    text-align: center;
		    vertical-align: middle;
		    word-wrap: break-word;
    	}
	}    
}